# .gitignore itself shouldn't be tracked
.gitignore


# All project related .md files should not be tracked
PLAN.md
TASK.md
TESTING.md
CLAUDE.md
Comparison.md
Specs.md
Architecture.md

# Superpower's Docs folder should not be tracked
docs/

# Obsolete files to ignore
patch.rs
pipeline_patch.rs